.keyboard-shortcut {
  background-color: lightgrey;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 display:inline-flex;
  color:red;
  border-radius: 5px;
}